<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default category list</key>
	<array>
		<dict>
			<key>description</key>
			<string>meal to eat</string>
			<key>name</key>
			<string>Food</string>
			<key>image</key>
			<string>1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>toys for kids</string>
			<key>name</key>
			<string>toys</string>
			<key>image</key>
			<string>13</string>
		</dict>
		<dict>
			<key>description</key>
			<string>public transport</string>
			<key>name</key>
			<string>transport</string>
			<key>image</key>
			<string>27</string>
		</dict>
		<dict>
			<key>description</key>
			<string>communal taxes</string>
			<key>name</key>
			<string>housekeeping</string>
			<key>image</key>
			<string>6</string>
		</dict>
		<dict>
			<key>description</key>
			<string>to wear on</string>
			<key>name</key>
			<string>clothes</string>
			<key>image</key>
			<string>11</string>
		</dict>
		<dict>
			<key>description</key>
			<string>all type of activity</string>
			<key>name</key>
			<string>sport</string>
			<key>image</key>
			<string>21</string>
		</dict>
		<dict>
			<key>description</key>
			<string>for birthday, holidays etc</string>
			<key>name</key>
			<string>gifts</string>
			<key>image</key>
			<string>19</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
